---
title: Coronavirus
description: We've built an amazing team of developers, marketers, designers and sales people.
image: https://source.unsplash.com/BcoGknSqlDc/2000x1322?a=.png
---
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<section class="hero" style="background-image: url(https://www.cdc.gov/coronavirus/2019-ncov/images/social/covid-19-summary.png)">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">COVID-19</h1>
			<p class="subtext editable">Essential Information: A transformative event</p>
		</div>
	</div>
</section>

<section class="hero" style="background-color: black">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Current Statistics</h2>
				<p class="subtext editable">I can't do a better job than the rest of the internet, so here is a link to my favorite live data display.
				</p>
				<div class="cta button alt"><a href="https://coronavirus.jhu.edu/map.html">Check out the Stats</a></div>
			</div>
		</div>
	</section> 

<section class="hero" style="background-color: black">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Quick Facts</h2>
				<p class="subtext editable">Covid-19 is a coronavirus that targets the respirtory system.
					<ul>
						<li>
							The virus is relatively large (400-500nm), so any mask can protect from it (not that a mask will protect your entire body). 
						</li>
						<li>
							The virus cannot live in tempuratures over 81 degrees farenheight.
						</li>
						<li>
							The virus can live on metal surfaces and in clothes for up to 12 hours (any detergent will kill it in the wash). It will live on your hands for 10 minutes, with the risk of touching eyes/face in that time.
						</li>
						<li>
							The virus is mostly transmitted through direct contact, but it can transmit through the air in close proximity.
						</li>
						<li>
							Drinking water constantly is key. The water can carry the virus into your stomach where it will die. A dry throat brings risk of it reaching your respiratory system.
						</li>
					</ul>
				</p>
				<div class="cta button alt"><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">CDC</a></div>
			</div>
		</div>
	</section> 



<div class="container">
  <h2>Visual Summary</h2>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jWMUBouaqb0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<!-- EMBED YOUTUBE VIDEOS 
<center>
	<section>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/S0-c-wIsBjQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</section>
</center>
-->

<section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
