---
title: Projects
description: We've built an amazing team of developers, marketers, designers and sales people.
image: https://source.unsplash.com/BcoGknSqlDc/2000x1322?a=.png
---
<head>
  <title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

	<section class="hero" style="background-image: url(https://www.cdc.gov/coronavirus/2019-ncov/images/social/covid-19-summary.png)">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h1 class="editable">Projects</h1>
				<p class="subtext editable">You are what you do. I am...</p>
			</div>
		</div>
	</section>

	<section class="hero" id="projects" style="background-image: url(images/umana.png)">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Summer Investment Analyst @ UMANA</h2>
				<p class="subtext editable">I am excited to be working with the UMANA family Summer '20. We invest in the pursuit of UMANA's Utopian vision. In addition to facilitating early stage growth, UMANA investments create massive social impact. Feel free to reach out to me for some of my deal analyses.</p>
				<div class="cta button alt"><a href="https://www.umana.family/">UMANA</a></div>
			</div>
		</div>
	</section>

	<section class="hero" id="projects" style="background-image: url(images/agora.png)">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Summer Analyst @ Alphagora</h2>
				<p class="subtext editable">Alphagora is an early stage subscription platform for quantitative trading strategies. The service allows users to subscribe declared portions of their assets to cryptocurrency-trading strategies that generate and execute on buy/sell signals autonomously. I am working on the business side to create synergies between the firm and top private wealth managers, who are increasingly adopting crypto into their portfolio.</p>
				<div class="cta button alt"><a href="https://alphagora.io">Alphagora</a></div>
			</div>
		</div>
	</section>

	<section class="hero" id="projects" style="background-image: url(images/pagame.png)">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Co-Founder, Págame</h2>
				<p class="lead">Summer 2020</p>
				<p class="subtext editable">I am in the very early stages of a startup project with two good friends of mine. We are determined to provide financial versatility to the population without bank accounts by digitizing the informal sector of the Bolivian economy.</p>
				<div class="cta button alt"><a href="https://pagame.org">Págame</a></div>
			</div>
		</div>
	</section>

	<section class="hero" id="projects" style="background-image: url(https://assets.letsendorse.com/le/2018/08/11/SDhVWLMOEpLiJMJlsrTS15339921846983.jpg)">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Transformational Impact Rating System</h2>
				<p class="subtext editable">This project was in collaboration with the Wharton Global Health Initiative and Dr. Vijay Kumar of the Makunda Hospital, read the report <a href="https://transformationalimpact.org/report.pdf">here</a>. We created a website to connect underfunded hospitals across the world with donors and volunteers looking to contribute.</p>
				<div class="cta button alt"><a href="https://transformationalimpact.org/index.html">Transformational Impact</a></div>
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url(https://educationwalkthrough.com/wp-content/uploads/2020/03/education-walkthrough-classroom.jpg)">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Education Walkthrough</h2>
				<p class="subtext editable">I worked as a consultant to Education Walkthrough in Spring '20. My team and I worked on the digital product and conducted market penetration research for the foundation of marketing efforts. <a href="/contact/">Contact Me</a> if you want Education Walkthrough in your schools! </p>
				<div class="cta button alt"><a href="https://educationwalkthrough.com/">Education Walkthrough</a></div>
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url(images/up-pt3.png)">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">University of Pennsylvania Sprint Football</h2>
				<p class="editable"> I have been playing sports since my earliest memories. I'll stay active for a very long time.
				<div class="cta button alt"><a href="https://pennathletics.com/roster.aspx?rp_id=16028">Athlete Profile</a></div>
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url(https://www.htxt.co.za/wp-content/uploads/2014/10/M4JAM-BAnner.png)">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Financial Analyst Intern</h2>
				<p class="subtext editable">Created pricing models, revenue forecasts, and industry valuations to lead market penetration efforts.</p>
				<div class="cta button alt"><a href="https://www.m4jam.com/">M4Jam Pty. Ltd.</a></div>
			</div>
		</div>
	</section>


<!--- Youtube Embed --->
<!-- <div class="container">
  <h2>Visual Summary</h2>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jWMUBouaqb0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div> -->


<section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>